<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" crossorigin="anonymous">

    <!-- Page title -->
    <title>Welcome to interactive log quality checking!</title>
</head>
<body>


<!-- Content inside Bootstrap class container -->
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Available pages</h1>
            <p><a href="qc_stats">QC Stats</a></p>
            <p><a href="ec2-18-222-85-3.us-east-2.compute.amazonaws.com:5006/holoMagic">Bokeh Visualisation</a></p>
        </div>
    </div>
</div> <!-- /.container -->


<!-- Load JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>
