<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" crossorigin="anonymous">

    <!-- Page title -->
    <title>Hello, world!</title>

    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>

</head>
<body>

<!-- Content inside Bootstrap class container -->
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Plots</h1>
            <a href = "/">Home</a>
        </div>
    </div>
</div> <!-- /.container -->

<!-- Content inside Bootstrap class container -->
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="static/output.png" style="width:50%"/>
            <p>This is some text</p>
        </div>
    </div>
</div> <!-- /.container -->


</body>
</html>
